        .top-bar {
            background-color: #fff;
            color: #a7cab1;
            padding: 10px 0;
            text-align: center;
        }

        .top-bar .container {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .top-bar .logo {
            font-size: 24px;
        }

        .top-bar .search-box {
            margin-right: 20px;
        }

        .top-bar .search-box input[type="text"] {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 500px;
        }

        .top-bar .search-box button {
            background-color: #a7cab1;
            color: #fff;
            padding: 8px 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .top-bar .cart-button {
            background-color: #a7cab1;
            color: #fff;
            padding: 8px 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Стили для заголовка */
        header {
            background-color: #a7cab1;
            color: #fff;
            padding: 10px 10px;
            text-align: center;
            height: 30px; /* Возвращаем прежнее значение высоты заголовка */
            margin-top: 10px; /* Добавляем отступ сверху */
        }

        header nav {
            display: flex;
        }

        header nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        header nav ul li {
            margin-right: 20px;
        }

        header nav ul li:last-child {
            margin-right: 0;
        }

        header nav ul li a {
            color: #393d3f;
            text-decoration: none;
            font-size: 16px;
        }

        footer nav ul li a {
            color: #393d3f;
            text-decoration: none;
            font-size: 16px;
        }