<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'css/style_cat.css' %}" rel="stylesheet" />
    <title>Catalog</title>
</head>
<body>
  <!-- Верхняя панель с логотипом, поисковой строкой и кнопкой корзины -->
    <div class="top-bar">
        <div class="container">
            <div class="logo">HOMEGLAM</div>
            <div class="search-box">
                <input type="text" placeholder="Поиск">
                <button type="submit">Поиск</button>
            </div>
            <a href="{% url 'cart' %}" class="cart-button">Корзина</a>
        </div>
    </div>

    <!-- Заголовок с навигацией -->
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'glavnaya' %}">Главная</a></li>
                <li><a href="{% url 'catalog' %}">Каталог</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
        </nav>
    </header>

<div style="text-align: center; font-family: 'Inter', sans-serif; font-size: 32px; font-weight: 400; margin-top: 30px; margin-bottom: 30px; color:#393d3f;">Каталог</div>

<div class="image-container">
    {% for category in categories %}
    <a href="{% url 'catalog-page' category.id %}">
        <div class="image-card">
            {% if category.image %}
            <img src="{{ category.image.url }}" alt="{{ category.name }}">
            {% else %}
            <img src="{% static 'img/placeholder.png' %}" alt="{{ category.name }}">
            {% endif %}
            <div class="image-title">{{ category.name }}</div>
        </div>
    </a>
    {% endfor %}
</div>

    <footer style="background-color: #A7CAB1; width: 100%; height: 198px; display: flex; justify-content: space-around; align-items: center;">
        <div>
            <nav>
                <ul style="list-style-type: none; padding: 0;">
                    <li><a href="{% url 'glavnaya' %}">Главная</a></li>
                    <li><a href="{% url 'catalog' %}">Каталог</a></li>
                    <li><a href="{% url 'about' %}">О нас</a></li>
                    <li><a href="{% url 'contacts' %}">Контакты</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <p>Email: <br/> homeglam@gmail.com</p>
        </div>
        <div>
            <p>Номер телефона: <br/> +7 (952) 608-15-52<br>+7 (951) 828-69-77</p>
        </div>
        <div>
            <p>г. Ростов-на-Дону <br/> © 2024 Климова К.С.</p>
        </div>
    </footer>

</body>
</html>