{% extends 'layout.html' %}
{% load static %}
{% block title %}Контакты{% endblock %}

{% block content %}
    <div style="text-align: center; font-family: 'Inter', sans-serif; font-size: 32px; font-weight: 400; margin-top: 30px; margin-bottom: 30px; color:#393d3f;">Контакты</div>

    <div class="contact-container">
        <div class="contact-text">
            <p>Мы всегда рады помочь вам!</p>
            <p>По любым вопросам обращайтесь по телефону или пишите нам на электронную почту.</p><br>
            <h3>Контактные данные</h3><br>
            <p>Телефон: <br>+7 (952) 608-15-52<br>+7 (951) 828-69-77</p><br>
            <p>Email: hghomeglam@gmail.com</p>
        </div>
        <div class="contact-form">
            <div class="form-header">
                <h3>Обратная связь</h3>
            </div>
            <form action="{% url 'contacts' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Имя:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Введите сообщение:</label>
                    <textarea id="message" name="message" required></textarea>
                </div>
                <button type="submit" class="submit-button">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}